<h2>Driver Standings </h2>
<div class="standings-content">
    <div class="topThree">
        <div class="topThree_card" *ngFor="let topThree of topThree">
            <div class="card-bottom" [style.border-color]="getTeamColor(topThree.Constructors[0].name)">
                <img class="pilot-img" src="./assets/img/drivers/{{ topThree.Driver.driverId }}.png" alt="">
                <p>{{topThree.Driver.givenName}}</p>
                <p><b>{{topThree.Driver.familyName}}</b></p>
                <p class="position"><b>{{ topThree.position }}</b></p>
                <img class="img-flag" src="./assets/img/pilot-nat/{{ topThree.Driver.driverId }}.png" alt="{{ topThree.Driver.driverId }} flag">
            </div>
        </div>
    </div>
    <mat-spinner *ngIf="loaderService.loading$ | async"></mat-spinner>
    <ul *ngFor="let driverStandings of standingsData">
        <li class="standings-list" *ngIf="standingsData">
            <span class="standings-list--position"> {{ driverStandings.position }} </span>
            <span class="team-color" [style.background-color]="getTeamColor(driverStandings.Constructors[0].name)"></span>
            <span class="standings-list--name"> {{ driverStandings.Driver.givenName }} <b>{{ driverStandings.Driver.familyName }}</b> </span>
            <span class="standings-list--team"> {{ driverStandings.Constructors[0].name }} </span>
            <span class="standings-list--points f1-label"> <b>{{ driverStandings.points }}</b> pts</span>
        </li>
    </ul>
    <p *ngIf="standingsData === undefined || !loaderService.loading$">No data.</p>
</div>    