@import '../../../../scss/global.scss';

.tabela {
  overflow: auto;
  height: fit-content;
  width: fit-content;
  table {
    border-collapse: collapse;
    margin: auto;
    font-size: 0.8em;

    thead th {
      position: sticky;
      top: 0;
      background-color: #fafafa;
    }

    th,td {
      padding: 10px;
      text-align: start;
      width: 100px;
      cursor: pointer;
    }

    th {
      font-weight: bold;
      font-size: 1.1em;
    }
    tr:nth-child(even) {
      background-color: #f4f4f4;
    }
    
    tr:hover:nth-child(1n + 1) {
      background-color: #c5c5c5;
      color: #fff;
    }
    
    .flag {
      display: flex;
      justify-content: center;

      .country-flag {
        border-radius: 5px;
        border: 1px solid #949498;
        width: 42px;
        height: 26px;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .country-flag img {
        width: 100%;
        height: auto;
      }
    }
    .position, .points {
      text-align: center;
    }
  }
}

  @media screen and #{$mobile} {
    .tabela {
      table {
        font-size: 0.6em;
      }
    }
  }