@import '../../../../scss/global.scss';


.standings-content {
  width: 100%;
  .standings-list {
    width: 100%;
    list-style: none;
    background-color: #fff;
    margin-bottom: 3px;
    height: 55px;
    padding: 15px 30px;
    display: flex;
    align-items: center;
    border-radius: 5px;

  &--points {
    margin-left: auto;
  }
  }

}