<h2>Next race </h2>
<div class="content" *ngIf="nextRaceData">
    <div style=" flex-direction: row;">
        <h3>{{ nextRaceData.raceName }}</h3>
        <p> {{ formattedDateRange }}</p>
        <div style="display: flex;"><p style="margin-right: auto;">Practice 1:</p><span style="margin-left: auto;" appConvertToLocalTime="{{nextRaceData.FirstPractice.time}}"></span></div>
        <div style="display: flex;"><p style="margin-right: auto;">Practice 2:</p><span style="margin-left: auto;" appConvertToLocalTime="{{ nextRaceData.SecondPractice.time }}"></span></div>
        <div style="display: flex;"><p style="margin-right: auto;">Practice 3:</p><span style="margin-left: auto;" appConvertToLocalTime="{{ nextRaceData.ThirdPractice.time }}"></span></div>
        <div style="display: flex;"><p style="display: flex;">Qualifying:</p><span style="margin-left: auto;" appConvertToLocalTime="{{ nextRaceData.Qualifying.time }}"></span></div>
        <div style="display: flex;"><p style="display: flex;">Race:</p><span style="margin-left: auto;" appConvertToLocalTime="{{ nextRaceData.time }}"></span></div>
    </div>
    <div class="round"><p> Round: {{ nextRaceData.round }}</p></div>
    <img class="img-flag" src="./assets/img/circuit-flags/{{ nextRaceData.Circuit.circuitId }}.png" alt="{{ nextRaceData.Circuit.Location.country }} flag">
</div>
<h2>Last news </h2>
