<div class="c-container">

    <div class="container-cards">
        <div class="card" id="albon">
            <div class="img-card">
                <img src="" class="pilot-number" alt="">
                <img src="" alt="">
                <h3 class="firstName"></h3>
                <h3 class="secondName">
                    <a href="" target="_blank"></a>
                </h3>
            </div>
            <div class="text-content">
                <p></p>
                <p></p>
            </div>
        </div>
    </div>
