@import '../../scss/global.scss';

.card-container {
    display: flex;
    width: 100%;
    height: 500px;

    @media screen and #{$mobile} {
      flex-direction: column;
    }
      
    

    .left-cards {
        display: flex;
        flex-direction: column;
        width: 50%;
        @media screen and #{$mobile} {
         width: 100%;
        }
      }

    .card {
        background-color: #a8a8a8;
        border-radius: 4px;
        padding: 16px;
        margin-bottom: 16px;
        margin-left: 16px;
        
      }

      .small-card {
        flex: 1;
        overflow: auto;
      }
      
      .big-card {
        flex: 2;
        overflow-y: auto;
        display: flex;
        justify-content: center;

        scrollbar-width: thin;
        scrollbar-color: black transparent;  
        
        &::-webkit-scrollbar {
          width: 5px;
          height: 3px;
        }
        
        &::-webkit-scrollbar-track {
          background: #3f3f3f;
          padding: 5px;
          border-top-right-radius: 4px;
          border-bottom-right-radius: 4px;
        }
        
        &::-webkit-scrollbar-thumb {
          background-color: #dbfbfb;
          border-radius: 4px;
        }
      }

  }
  
  app-standings {
    width: 70%;
    @media screen and #{$mobile} {
      width: 100%;
    }
  }

  app-next-race {
    width: 70%;
    @media screen and #{$mobile} {
      width: 100%;
    }
  }

  iframe {
    width: 70%;
    position: static; 
    visibility: visible;
    height: 800px; 
    display: block; 
    flex-grow: 1;
    @media screen and #{$mobile} {
      width: 100%;
    }
  }
  
  
  
  
  