@import '../../scss/global.scss';

.footer {
    @include flexCenter;
    width: 100%;
    height: 64px;
    background-color: var(--f1-accent);
    color: white;
    font-size: 0.8em;

    p {
        a {
            color: var(--f1-primary);
            text-decoration: none;
        }
    }
}