.container {
    position: relative;
    min-height: 100vh;

    &_conteudo {
        padding-bottom: 4rem;
    }

    .foot {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 4rem;
    }
}
