// @import url(../../scss/global.scss);

.header {
    background-color: #e10600;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;

    img {
        height: 50%;
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
      }
}
