<mat-toolbar class="header">
    <button mat-icon-button class="menu-icon" (click)="opened=!opened" aria-label="menu icon">
        <mat-icon>menu</mat-icon>
    </button>
    <img routerLink="home" class="logo-img" src="../../../assets/img/icons/f1_logo.svg" alt="F1 logo">
    <ul class="lista-desktop">
        <a routerLink="latest"><li><span>Latest</span></li></a>
        <a routerLink="schedule"><li><span>Schedule</span></li></a>
        <a routerLink="results"><li><span>Results</span></li></a>
        <a routerLink="drivers"><li><span>Drivers</span></li></a>
        <a routerLink="teams"><li><span>Teams</span></li></a>
    </ul>
    <span class="spacer"></span>
</mat-toolbar>
<mat-sidenav-container>
    <mat-sidenav [(opened)]="opened" mode="over">
        <ul class="lista-mobile">
            <li><span>Latest</span></li>
            <li><span>Schedule</span></li>
            <li><span>Results</span></li>
            <li><span>Drivers</span></li>
            <li><span>Teams</span></li>
        </ul>
    </mat-sidenav>
    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>