@import '../../scss/global.scss';

.header {
    background-color: var(--f1-primary);
    height: 65px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 999;

    .logo-img {
        height: 45%;
        cursor: pointer;
    }

    .menu-icon{
        color: white;
        display: none;
    }
    .lista-desktop {
        list-style:none;
        display: flex;
        color: white;
        font-size: 14px;
        height: 100%;
        
       li {
        position: relative;
        .active {
            &::after {
                transform: translate(2deg);
                content: '';
                background-color: white;
                width: 70%;
                border-radius: 10px;
                height: 3px;
                position: absolute;
                bottom: 15px;
            }
        }
        a {
            height: 100%;
            display: flex;
            margin: 0 5px;
            color: white;
            cursor: pointer;
            align-items: center;
            text-decoration: none;
            justify-content: center;
            

            span {
                margin: 0 10px;
            }

            &:hover {
                height: 100%;
                background-color: #15151e;
                transition: all 0.3s ease-in-out;
            }
        }
       }
    }
}


@media screen and #{$mobile} {

    .header { 
        justify-content: center;

        .menu-icon{
            color: white;
            display: inherit;
        }
        img {
            flex: 1 1 auto;
        }
        .lista-desktop{
            display: none;
        }
        .spacer {
            width: 48px;
        }
    }
}

