@import '../../scss/global.scss';

.header {
    background-color: #e10600;
    height: 65px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    // position: fixed;
    // z-index: 999;

    .logo-img {
        height: 45%;
        cursor: pointer;
    }

    .menu-icon{
        color: white;
        display: none;
    }
    .lista-desktop {
        list-style:none;
        flex-direction: row;
        display: flex;
        color: white;
        font-size: 14px;
        height: 100%;
        align-items: center;
        margin: 0;
        
       a {
        text-decoration: none;
        color: white;
        height: 100%;
        li {
            cursor: pointer;
            height: 100%;
            margin: 0 5px;
            display: flex;
            align-items: center;
            justify-content: center;

            span {
                margin: 0 5px;
            }

            &:hover {
                background-color: #15151e;
                height: 100%;
                transition: all 0.3s ease-in-out;
            }
        }
       }
    }
}

mat-sidenav-container {
    height: calc(205vh - 121vh);
    .sidenav {
        width: 100%;
        background-color: #e10600;
        .lista-mobile {
            color: white;
            list-style: none;
        }
    }
}


@media screen and #{$mobile} {

    .header { 
        justify-content: center;

        .menu-icon{
            color: white;
            display: inherit;
        }
        img {
            flex: 1 1 auto;
        }
        .lista-desktop{
            display: none;
        }
        .spacer {
            width: 48px;
        }
    }
    mat-sidenav-container {
        display: flex;
    }
    .lista-mobile {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        a {
            background-color: #e10600;
            height: 30px;
            width: 90%;
            text-decoration: none;
            color: white;
            border-bottom-right-radius: 10px;
            border-bottom: 1px solid white;
            border-right: 1px solid white;
            margin: 0 0 20px 0;
        }
        a:first-child {
            margin-top: 10px;
        }
    }
}

